* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(41, 41, 41);
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../src/assets/Fonts/WEB/fonts/Satoshi-Regular.woff2")
      format("woff2"),
    url("../src/assets/Fonts/WEB/fonts/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../src/assets/Fonts/WEB/fonts/Satoshi-Black.woff2") format("woff2"),
    url("../src/assets/Fonts/WEB/fonts/Satoshi-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../src/assets/Fonts/WEB/fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../src/assets/Fonts/WEB/fonts/Satoshi-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../src/assets/Fonts/WEB/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../src/assets/Fonts/WEB/fonts/Satoshi-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
